html {
  background-color: #c9b5ab;
  font-weight: normal;
}

h1 {
  color: #3f1622;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

img {
  width: 100%;
}

nav ol li {
  list-style-type: none;
  font-size: 1.125rem;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

nav a:link {
  color: #8f2440;
  text-decoration: none;
}

nav a:visited {
  color: #8f2440;
}

nav a:hover {
  color: #3f1622;
  text-decoration: underline;
}

p:first-child {
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  font-weight: bold;
}

figcaption {
  font-family: "PT Serif", serif;
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

article {
  font-family: "PT Serif", serif;
}

blockquote {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  font-style: italic;
  text-align: left;
}

.cite {
  font-size: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #3f1622;
}

ol li {
  list-style-type: lower-greek;
  line-height: 1.5;
  font-family: "PT Serif", serif;
}

ul li {
  list-style-type: circle;
  line-height: 1.5;
  font-family: "PT Serif", serif;
}

small a:link {
  color: #8f2440;
  text-decoration: none;
}

small a:visited {
  color: #8f2440;
}

small a:hover {
  color: #3f1622;
  text-decoration: underline;
}

small {
  font-family: "PT Serif", serif;
}

dl {
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

dt:nth-child(1) {
  font-style: italic;
}

dd:nth-child(2) {
  font-style: italic;
}

dt:nth-child(odd) {
  font-weight: bold;
}
